body {
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: left;
	padding: 20px 50px 150px;
	background: #f6f5ed;
	
};

p {
	text-align: left;
	font-family: verdana;
	font-size: 14px bold;
	color: #4183c4;

};