.container {
	max-width: 800px;
}

.header {
	padding-bottom: 20px;
	padding-top: 10px;
}

#map {
	height: 500px;
}

.jumbotron {
	padding: 5px;
	
}

.container .jumbotron {
	padding-right: 5px;
    padding-left: 5px;
}