html,body {
    height: 100%;
}

body {
    font-family: 'Droid Serif', serif;
    background-color: #f6f5ed;
  }

#frame {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  min-width: 70%;
  min-height: 80%;
  padding: 10px;  
  border: 1px dashed #4183c4;;
  
  
}

div {
  border: 1px dashed #4183c4;

}

#menu {
  min-width: 20%;
  height: 70%;
  text-align: left;
  vertical-align: text-top;
  float: left;
  
  
}
#load {
  vertical-align: text-top;
  padding: 10px;
  
  min-width: 70%;
  height: 70%;
  margin-left: 22%;
}